{% extends 'layout.html' %} {% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-9 col-md-offset-1 main">
      <h2 class="page-header">Monitor</h2>
      <div class="table-responsive-sm">
        <table id="monitor" class="babi-tbl table">
          <thead>
            <tr>
              <th>Timestamp</th>
              <th>Severity</th>
              <th>Type</th>
              <th>Event</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>XXXXX</td>
              <td>XXXXX</td>
              <td>XXXXX</td>
              <td>XXXXX</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
