<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content="width=device-width">
    <meta name='description' content='Nabucodonosor management system'>
    <meta name='author' content='M Saito'>
    <link rel="icon" href='../../static/img/favicon.ico' />
    <title>babilônia</title>
    {% assets "3rdpartycss" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />
    {% endassets %}
    <link rel='stylesheet' href='../../static/css/style.css'>

  {% include 'includes/_navbar.html' %}
  </head>
  <body>

    {% include 'includes/_messages.html' %}
    {% block body %}{% endblock %}

    {% assets "3rdpartyjs" %}
      <script src="{{ ASSET_URL }}" ></script>
    {% endassets %}

    <script src='../../static/js/chart.js'></script>
    <script src='../../static/js/utils.js'></script>
    <script src='../../static/js/module.js'></script>
    <script src='../../static/js/crop.js'></script>

  </body>
  {% include 'includes/_footer.html' %}
</html>
