body {
  padding-top: 10px;
  background: #222;
  font-family:  Montserrat, helvetica-neue, helvetica, sans-serif;
}

h2#index {
  margin-top: 15px;
  margin-bottom: 10px;
  color: #eee;
  text-align: center;
}

.node-cfg-lbl {
    text-align: right;
    padding: 5px;
}

.supplier-cfg-lbl {
    text-align: right;
    padding: 5px;
}

table#telemetry {
    width: 100%;
    table-layout: fixed;
    border-spacing: 3px;
    margin-up: 5px;
    font-size: 13px;
}

table#cockpit {
    text-align: center;
    border-spacing: 2px;
    border-collapse: separate;
    margin-left: auto;
    margin-right: auto;
}

.param-label {
    text-align: right;
    font-weight: bold;
    padding: 3px;
    width: 60%;
}

.param-value {
    text-align: left;
    padding: 3px;
    width: 40%;
}

#sortable {
  list-style: none;
  border: solid 4px #62B1F6;
  margin: 0;
  padding: 20px;
  width: 100%;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
#sortable li {
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
}
#sortable li:hover {
  cursor: pointer;
}
#sortable li .box {
  height: 220px;
  border: solid 2px #999;
  background: #eee;
  width: 100%;
  padding: 10px;
  overflow: hidden;
  overflow-y: hidden;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
#sortable li .box.danger {
  background: #F08080;
  color: #931111;
  border-color: #c01717;
}
#sortable li .box.danger .fa {
  color: #c01717;
}
#sortable li .box.good {
  background: #BCED91;
  color: #3d6d12;
  border-color: #6dc520;
}
#sortable li .box.good .fa {
  color: #3d6d12;
}
#sortable li .box.excellent {
  color: #084a84;
  background: #62B1F6;
  border-color: #0a65b5;
}
#sortable li .box.excellent .fa {
  color: #0a65b5;
}
#sortable li .box.nostatus {
  color: #333;
  background: white;
  border-color: gray;
}
#sortable li .box.nostatus .fa {
  color: #b3b3b3;
}
#sortable li .box h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

#sortable li .box p {
  margin-top: 0;
  margin-bottom: 5px;
}

#sortable li .box h4 .fa {
  display: inline-block;
  margin-right: 4px;
}
#sortable li .box p {
  color: #444;
  font-size: 11px;
}

.footer {
  position: absolute;
  margin-top: 10px;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #222;
}

.footer-info {
	float: left;
	padding-bottom: 10px;
	color: #666;
	text-align: left;
}

canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
}


/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
/*
 * Main content with sidebar
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 50px;
  color: #eee;
}


table.management {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    color: #E6E6E6 !important;
}

.dataTables_wrapper .dataTables_filter {
  color: #E6E6E6 !important;
  float: right;
  text-align: left;
}

table.management td, table.management th {
  border: 0px;
  padding: 3px 2px;
}

table.management td {
  background: #222 ;
}

table.management thead th {
  background: #000000;
  font-weight: bold;
  text-align: center;
}
