<meta charset='utf-8'>
<meta name='viewport' content="width=device-width">
<meta name='description' content='babilônia platform'>
<meta name='author' content='M Saito'>
<link rel="icon" href='../../static/img/favicon.ico' />
<title>babilônia</title>
{% assets "3rdpartycss" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />
{% endassets %}
<link rel='stylesheet' href='../../static/css/style.css'>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146873047-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-146873047-1');
</script>
