luac.cross
log/
.Rproj.user/
*.Rproj
*.lc
profile.lua
InitialConfiguration.h
config*.json
*.db
*.pyc
__pycache__
.webassets-cache
assets
.Rproj.user
.RData
.Rhistory
*.out
# LaTex
*.aux
*.fls
*.log
*.gz
*.fdb_latexmk
*.pdf
# Jupyter stuff
*.ipynb_checkpoints
