luac.cross
log/
.Rproj.user/
*.Rproj
*.lc
profile.lua
Profile.h
config.json
*.db
*.pyc
__pycache__
.webassets-cache
assets
.Rproj.user
.RData
.Rhistory
*.out
# LaTex
*.aux
*.fls
*.log
*.gz
*.fdb_latexmk
*.pdf
