log/
.Rproj.user/
*.Rproj
*.lc
InitialConfiguration*.h
InitialSupportConfiguration*.h
baquara-*.json
*.ogg
config*.json
logging.json
*.db
*.pyc
__pycache__
.webassets-cache
assets
.Rproj.user
.RData
.Rhistory
*.out
# LaTex
*.aux
*.fls
*.log
*.gz
*.fdb_latexmk
*.pdf
# Jupyter stuff
*.ipynb_checkpoints
*Teste.ipynb
