{% extends 'layout.html' %} {% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-9 col-md-offset-1 main">
      <h2 class="page-header">Firmware</h2>
      <div id="updating-node" class="progress collapse">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
          <span class="progress-bar-label">0%</span>
        </div>
      </div>
      <div class="table-responsive-sm">
        <table id="firmware" class="babi-tbl table">
          <thead>
            <tr>
              <th>OASIS</th>
              <th>VERSION</th>
              <th>ACTION</th>
            </tr>
          </thead>
          <tbody>
            {% for module in modules %}
            <tr>
              <td>{{module.NODE_ID}}</td>
              <td>{{module.DATA['FIRMWARE_VERSION']}}</td>
              <td>update</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
