<div class="modal fade" id="cropModuleModal" tabindex="-1" role="dialog">
  <div class="modal-dialog  modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"  id="crop-module-modal-title"></h4>
      </div>
      <div class="modal-body">
        <div id="alertModal"></div>
        <form id="cropModuleModalForm" name="cropModuleModalForm">
          <input type="hidden" name="cropModuleModalFormId" id="cropModuleModalFormId" value="">
          <input type="hidden" name="cropDetailId" id="cropDetailId" value="">


          <div class="form-group row">
            <label for="modulo" class="supplier-cfg-lbl control-label col-form-label col-sm-4">Módulo</label>
            <div class="col-sm-8">
              <select class="form-control" name="modulo" id="modulo">
                {% for module in modules %}
                  <option value="{{module[0]}}">{{module[0]}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="planta" class="supplier-cfg-lbl control-label col-form-label col-sm-4">Planta</label>
            <div class="col-sm-8">
              <select class="form-control" name="planta" id="planta">
                {% for plant in plants %}
                  <option value="{{plant[0]}}">{{plant[1]}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="substrato" class="supplier-cfg-lbl control-label col-form-label col-sm-4">Substrato</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="substrato" id="substrato">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" id="savecropmodule" onclick="savecropmodule()">Salvar</button>
      </div>
    </div>
  </div>
</div>
