{% extends 'layout.html' %} {% block body %}
<div class="container-fluid">
  <div class="row">
    {% include 'management/_management_sidebar.html' %}
    <div class="col-sm-8 col-sm-offset-2 col-md-9 col-md-offset-1 main">
      <h2 class="page-header">Vegetal</h2>
      <div class="table-responsive">
        <table id="plant" class="management table">
          <thead>
            <tr>
              <th>Tipo</th>
              <th>Nome</th>
              <th>Fornecedor</th>
            </tr>
          </thead>
          <tbody>
            {% for plant in plants %}
            <tr>
              <td>{{plant[0]}}</td>
              <td>{{plant[1]}}</td>
              <td>{{plant[2]}}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

<!-- modals -->
{% include 'management/modal-add-plant.html' %}
