{% extends 'layout.html' %} {% block body %}
<div class="container-fluid">
  <div class="row">
    {% include 'management/_management_sidebar.html' %}
    <div class="col-sm-8 col-sm-offset-2 col-md-9 col-md-offset-1 main">
      <h2 class="page-header">Fornecedor</h2>
      <div class="table-responsive">
        <table id="supplier" class="management table">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Tipo</th>
              <th>Cidade</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Sakata</td>
              <td>Semente</td>
              <td>Bragança Paulista</td>
              <td>SP</td>
            </tr>
            <tr>
              <td>Mudas Lissoni</td>
              <td>Muda</td>
              <td>Pirassununga</td>
              <td>SP</td>
            </tr>
            <tr>
              <td>Mudas Sousa</td>
              <td>Muda</td>
              <td>Pombal</td>
              <td>PB</td>
            </tr>
            <tr>
              <td>Top Seed</td>
              <td>Semente</td>
              <td>Santo Antônio de Posse</td>
              <td>SP</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

<!-- modals -->
{% include 'management/modal-add-plant-supplier.html' %}
