[Unit]
Description = nabucodonosor
After = network.target

[Service]
PermissionsStartOnly = true
PIDFile = /run/nabucodonosor/nabucodonosor.pid
User = root
Group = root
WorkingDirectory = /github/babilonia/server/app
ExecStartPre = /bin/mkdir /run/nabucodonosor
ExecStartPre = /bin/chown -R root:root /run/nabucodonosor
ExecStart = /usr/bin/env gunicorn nabucodonosor:app -b 0.0.0.0:8181 --pid /run/nabucodonosor/nabucodonosor.pid
ExecReload = /bin/kill -s HUP $MAINPID
ExecStop = /bin/kill -s TERM $MAINPID
ExecStopPost = /bin/rm -rf /run/nabucodonosor
PrivateTmp = true

[Install]
WantedBy = multi-user.target
