{% extends 'layout.html' %} {% block body %}
<div class="container-fluid">
  <div class="row">
    {% include 'management/_management_sidebar.html' %}
    <div class="col-sm-8 col-sm-offset-2 col-md-9 col-md-offset-1 main">
      <h2 class="page-header">Módulo</h2>
      <div class="table-responsive">
        <table id="module" class="management table">
          <thead>
            <tr>
              <th>Identificador</th>
              <th>Tipo</th>
              <th>Oasis</th>
              <th>Data Fabricação</th>
            </tr>
          </thead>
          <tbody>
            {% for module in modules %}
            <tr>
              <td>{{module[0]}}</td>
              <td>{{module[1]}}</td>
              <td>{{module[2]}}</td>
              <td>{{module[3]}}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

<!-- modals -->
{% with  oasis=oasis %}
{% include 'management/modal-add-module.html' %}
{% endwith %}
