{% extends 'layout.html' %}

{% block body %}
  <div class="row">
    <div class="col-sm-12">
      <h2>Oasis</h2>
      <ul class="clearfix" id="sortable">
        {% for module in modules %}
          <li>
            <div class="box nostatus">
              <h4>{{module[0]}}</h4>
              <p>Here is a short description of a basic project</p>
            </div>
          </li>
        {% endfor %}


        <li>
          <div class="box nostatus">
            <h4>Project Title</h4>
            <p>Here is a short description of a basic project</p>
          </div>
        </li>
        <li>
          <div class="box danger">
            <h4>789456</h4>
            <p>Here is a short description of a project this is in trouble</p>
          </div>
        </li>
        <li>
          <div class="box danger">
            <h4>Bad Project</h4>
            <p>Here is a short description of a project this is in trouble</p>
          </div>
        </li>
        <li>
          <div class="box nostatus">
            <h4>Project Title</h4>
            <p>Here is a short description of a basic project</p>
          </div>
        </li>
        <li>
          <div class="box excellent">
            <h4>Excellent Project</h4>
            <p>Here is a short description of a project that is doing excellent</p>
          </div>
        </li>
        <li>
          <div class="box excellent">
            <h4>Excellent Project</h4>
            <p>Here is a short description of a project that is doing excellent</p>
          </div>
        </li>
        <li>
          <div class="box nostatus">
            <h4>Project Title</h4>
            <p>Here is a short description of a basic project</p>
          </div>
        </li>
        <li>
          <div class="box nostatus">
            <h4>Project Title</h4>
            <p>Here is a short description of a basic project</p>
          </div>
        </li>
        <li>
          <div class="box good">
            <h4>Pretty Good Project</h4>
            <p>Here is a short description of a project that is doing good</p>
          </div>
        </li>
        <li>
          <div class="box nostatus">
            <h4>Project Title</h4>
            <p>Here is a short description of a basic project</p>
          </div>
        </li>
        <li>
          <div class="box nostatus">
            <h4>Project Title</h4>
            <p>Here is a short description of a basic project</p>
          </div>
        </li>
        <li>
          <div class="box good">
            <h4>Pretty Good Project</h4>
            <p>Here is a short description of a project that is doing good</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
