{% extends 'layout.html' %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="clearfix" id="dashboard">
        <!-- WEATHER -->
        <li class="col-md-4 col-sm-8 col-xs-12">
          <div class="panel panel-weather">
            <div class="panel-body">
              <div class="container">
                <div class="row">
                  <div class="panel-dashboard-icon-col col-md-1 col-sm-2 col-xs-4">
                    <table>
                      <tr>
                        <td>
                          <i class="wi-dashboard fa-dashboard {{weather_icon(weather['icon'])}}"></i>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="panel-weather-summary">{{weather['summary']}}</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="panel-dashboard-col col-md-1 col-sm-2 col-xs-4">
                    <table>
                      <tr>
                        <td>
                          <i class="wi wi-thermometer"></i>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="panel-main-number">{{weather['apparentTemperature']|round|int}}°</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="panel-dashboard-col col-md-1 col-sm-2 col-xs-4">
                    <table>
                      <tr>
                        <td class="dashboard-label"><i class="wi wi-humidity"></i> </td>
                        <td class="dashboard-value">{{"%.2f"|format(weather['humidity']*100)}}<span class="dashboard-value-unit">%</span></td>
                      </tr>
                      <tr>
                        <td class="dashboard-label"> <i class="wi wi-umbrella"></i> </td>
                        <td class="dashboard-value">{{"%.2f"|format(weather['precipProbability']*100)}}<span class="dashboard-value-unit">%</span></td>
                      </tr>
                      <tr>
                        <td class="dashboard-label"><i class="wi wi-raindrop"></i> </td>
                        <td class="dashboard-value">{{"%.2f"|format(weather['precipIntensity'])}}<span class="dashboard-value-unit">mm/h</span></td>
                      </tr>
                      <tr>
                        <td class="dashboard-label"><i class="wi wi-strong-wind"></i> </td>
                        <td class="dashboard-value">{{"%.2f"|format(weather['windSpeed'])}}<span class="dashboard-value-unit">m/s</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <!-- FARM STATUS -->
        <li class="col-md-4 col-sm-8 col-xs-12">
          <div class="panel panel-farm">
            <div class="panel-body">
              <div class="container">
                <div class="row">
                  <div class="panel-dashboard-col col-md-1 col-sm-2 col-xs-4">
                    <img src="../static/img/farm.png">
                  </div>

                  <div class="panel-dashboard-col col-md-3 col-sm-2 col-xs-4">
                    <table>
                      <tr>
                        <td class="dashboard-label"><i class="wi wi-humidity"></i></td>
                        <td class="dashboard-value">{{"%.2f"|format(weather['humidity']*100)}}<span class="dashboard-value-unit">%</span></td>
                      </tr>
                      <tr>
                        <td class="dashboard-label"> <i class="wi wi-umbrella"></i> </td>
                        <td class="dashboard-value">{{"%.2f"|format(weather['precipProbability']*100)}}<span class="dashboard-value-unit">%</span></td>
                      </tr>
                      <tr>
                        <td class="dashboard-label"><i class="wi wi-raindrops"></i></td>
                        <td class="dashboard-value">{{"%.2f"|format(weather['precipIntensity'])}}<span class="dashboard-value-unit">mm/h</span></td>
                      </tr>
                      <tr>
                        <td class="dashboard-label"><i class="wi wi-strong-wind"></i></td>
                        <td class="dashboard-value">{{"%.2f"|format(weather['windSpeed'])}}<span class="dashboard-value-unit">m/s</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <!-- RASPBERRY PI STATUS -->
        <li class="col-md-4 col-sm-8 col-xs-12">
          <div class="panel panel-raspberrypi">
            <div class="panel-body">
              <div class="container">
                <div class="row">
                  <div class="panel-dashboard-icon-col col-md-1 col-sm-2 col-xs-4">
                    <i class="fa fa-server fa-4x fa-dashboard"></i>
                  </div>
                  <div class="panel-dashboard-col col-md-1 col-sm-2 col-xs-4">
                    <table>
                      <tr>
                        <td>
                          <i class="wi wi-thermometer"></i>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="panel-main-number">{{raspberrypi['cpu_temp']}}°</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="panel-dashboard-col col-md-1 col-sm-2 col-xs-4">
                    <table>
                      <tr>
                        <td class="dashboard-label"><i class="fa fa-microchip"></i></td>
                        <td class="dashboard-value">{{raspberrypi['mem_usage']}}<span class="dashboard-value-unit">%</span></td>
                      </tr>
                      <tr>
                        <td class="dashboard-label"><i class="fa fa-hdd-o"></i></td>
                        <td class="dashboard-value">{{raspberrypi['disk_usage']}}<span class="dashboard-value-unit">%</span></td>
                      </tr>
                      <tr>
                        <td class="dashboard-label"><i class="fa fa-tasks"></i></td>
                        <td class="dashboard-value">{{raspberrypi['processes']}}</td>
                      </tr>
                      <tr>
                        <td class="dashboard-label"><i class="fa fa-cog"></i></td>
                        <td class="dashboard-value">{{raspberrypi['sys_load']}}</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <!-- NODE STATUS -->
        <li class="col-md-4 col-sm-8 col-xs-12">
          <div class="panel panel-node">
            <div class="panel-body">
              <div class="container">
                <div class="row">
                  <div class="panel-dashboard-icon-col col-md-1 col-sm-2 col-xs-4">
                    <i class="fa fa-microchip fa-4x fa-dashboard"></i>
                  </div>
                  <div class="panel-dashboard-col col-md-1 col-sm-2 col-xs-4">
                    <table>
                      <tr>
                        <td>
                          <i class="fa fa-1x fa-heartbeat"></i>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="panel-main-number">{{nodes['online']}}</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="panel-dashboard-col col-md-1 col-sm-2 col-xs-4">
                    <table>
                      <tr>
                        <td>
                          <i class="fa fa-1x fa-ban text-danger"></i>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="panel-main-number text-danger">{{nodes['offline']}}</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
