{% extends 'layout.html' %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="clearfix" id="dashboard">
        <!-- WEATHER -->
        <li class="col-md-4 col-sm-8 col-xs-12">
          <div class="panel panel-weather">
            <div class="panel-body">
              <div class="container">
                <div class="row">
                  <div class="panel-dashboard-icon-col col-md-1 col-sm-2 col-xs-4">
                    <table>
                      <tr>
                        <td>
                          <i class="wi-dashboard {{weather_icon(weather['icon'])}}"></i>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="panel-weather-summary">{{weather['summary']}}</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="panel-dashboard-col col-md-1 col-sm-2 col-xs-4">
                    <table>
                      <tr>
                        <td>
                          <i class="wi wi-thermometer"></i>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="panel-main-number">{{weather['apparentTemperature']|round|int}}°</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="panel-dashboard-col col-md-1 col-sm-2 col-xs-4">
                    <table>
                      <tr>
                        <td class="dashboard-label"><i class="wi wi-humidity"></i> </td>
                        <td class="dashboard-value">{{"%.2f"|format(weather['humidity']*100)}}<span class="dashboard-value-unit">%</span></td>
                      </tr>
                      <tr>
                        <td class="dashboard-label"> <i class="wi wi-umbrella"></i> </td>
                        <td class="dashboard-value">{{"%.2f"|format(weather['precipProbability']*100)}}<span class="dashboard-value-unit">%</span></td>
                      </tr>
                      <tr>
                        <td class="dashboard-label"><i class="wi wi-raindrop"></i> </td>
                        <td class="dashboard-value">{{"%.2f"|format(weather['precipIntensity'])}}<span class="dashboard-value-unit">mm/h</span></td>
                      </tr>
                      <tr>
                        <td class="dashboard-label"><i class="wi wi-strong-wind"></i> </td>
                        <td class="dashboard-value">{{"%.2f"|format(weather['windSpeed'])}}<span class="dashboard-value-unit">m/s</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>

        <!-- WATER TANK STATUS -->
        <li class="col-md-4 col-sm-8 col-xs-12">
          <div class="panel panel-water-tank">
            <div class="panel-body">
              <div class="container">
                <div class="row">
                  <div class="panel-dashboard-icon-col col-md-1 col-sm-2 col-xs-4">
                    <i class="fa fa-tint fa-4x fa-dashboard"></i>
                  </div>
                  <div class="panel-dashboard-col col-md-1 col-sm-2 col-xs-4">
                    <table>
                      <tr>
                        <td>
                          <i class="fa fa-2x fa-sign-in"></i>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <input type="hidden" id="switch-water-tank-in-val"value="{{water_tank['WATER_TANK_IN']}}">
                          <input type="checkbox" data-toggle="switch" id="switch-water-tank-in"
                           name="switch-water-tank-in"
                          data-on-color="info" data-on-text="ON"
                          data-off-color="danger" data-off-text="OFF">
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="panel-dashboard-col col-md-1 col-sm-2 col-xs-4">
                    <table>
                      <tr>
                        <td>
                          <i class="fa fa-2x fa-sign-out"></i>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <input type="hidden" id="switch-water-tank-out-val" value="{{water_tank['WATER_TANK_OUT']}}">
                          <input type="checkbox" data-toggle="switch"  id="switch-water-tank-out"
                           name="switch-water-tank-out"
                          data-on-color="info" data-on-text="ON"
                          data-off-color="danger" data-off-text="OFF" {{ 'disabled' if water_tank['WATER_TANK_IN_DISABLE']  }} >
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>

        <!-- FARM STATUS -->
        <li class="col-md-4 col-sm-8 col-xs-12">
          <div class="panel panel-farm">
            <div class="panel-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="panel-dashboard-icon-col col-md-3 col-sm-2 col-xs-3">
                    <i class="fa fa-leaf fa-4x"></i>
                  </div>

                  <div class="panel-dashboard-col col-md-3 col-sm-2 col-xs-3">
                    <table>
                      <tr>
                        <td>
                          <i class="wi wi-thermometer"></i>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="panel-main-number">{{farm['temperature']|round|int}}°</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="panel-dashboard-col col-md-3 col-sm-2 col-xs-3">
                    <table>
                      <tr>
                        <td>
                          <i class="wi wi-humidity"></i>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="panel-main-number">{{farm['humidity']|round|int}}</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="panel-dashboard-col col-md-3 col-sm-2 col-xs-3">
                    <table>
                      <tr>
                        <td>
                          <i class="fa fa-eyedropper"></i>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="panel-main-number">{{farm['soil']|round|int}}</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <!-- RASPBERRY PI STATUS -->
        <li class="col-md-4 col-sm-8 col-xs-12">
          <div class="panel panel-raspberrypi">
            <div class="panel-body">
              <div class="container">
                <div class="row">
                  <div class="panel-dashboard-icon-col col-md-1 col-sm-2 col-xs-4">
                    <i class="fa fa-server fa-4x"></i>
                  </div>
                  <div class="panel-dashboard-col col-md-1 col-sm-2 col-xs-4">
                    <table>
                      <tr>
                        <td>
                          <i class="wi wi-thermometer"></i>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="panel-main-number">{{raspberrypi['cpu_temp']}}°</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="panel-dashboard-col col-md-1 col-sm-2 col-xs-4">
                    <table>
                      <tr>
                        <td class="dashboard-label"><i class="fa fa-microchip"></i></td>
                        <td class="dashboard-value">{{raspberrypi['mem_usage']}}<span class="dashboard-value-unit">%</span></td>
                      </tr>
                      <tr>
                        <td class="dashboard-label"><i class="fa fa-database"></i></td>
                        <td class="dashboard-value">{{raspberrypi['disk_usage']}}<span class="dashboard-value-unit">%</span></td>
                      </tr>
                      <tr>
                        <td class="dashboard-label"><i class="fa fa-tasks"></i></td>
                        <td class="dashboard-value">{{raspberrypi['processes']}}</td>
                      </tr>
                      <tr>
                        <td class="dashboard-label"><i class="fa fa-bar-chart"></i></td>
                        <td class="dashboard-value">{{raspberrypi['sys_load']}}</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <!-- NODE STATUS -->
        <li class="col-md-4 col-sm-8 col-xs-12">
          <div class="panel panel-node">
            <div class="panel-body">
              <div class="container">
                <div class="row">
                  <div class="panel-dashboard-icon-col col-md-1 col-sm-2 col-xs-4">
                    <i class="fa fa-microchip fa-4x fa-dashboard"></i>
                  </div>
                  <div class="panel-dashboard-col col-md-1 col-sm-2 col-xs-4">
                    <table>
                      <tr>
                        <td>
                          <i class="fa fa-1x fa-heartbeat"></i>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="panel-main-number">{{nodes['online_count']}}</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="panel-dashboard-col col-md-1 col-sm-2 col-xs-4">
                    <table>
                      <tr>
                        <td>
                          <i class="fa fa-1x fa-ban text-danger"></i>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="panel-main-number text-danger">{{nodes['offline_count']}}</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
