<!DOCTYPE html>
<html>
  <head>
  {% include 'includes/_header.html' %}
  {% include 'includes/_navbar.html' %}
  </head>
  <body>

    {% include 'includes/_messages.html' %}
    {% block body %}{% endblock %}

    {% assets "3rdpartyjs" %}
      <script src="{{ ASSET_URL }}" ></script>
    {% endassets %}
    <script src='../../static/js/action.js'></script>
    <script src='../../static/js/utils.js'></script>
    <script src='../../static/js/websocket.js'></script>
    <script src='../../static/js/firmware.js'></script>
    <script src='../../static/js/crop.js'></script>

<!--
    <script src='../../static/js/chart.js'></script>
    <script src='../../static/js/module.js'></script>
-->
  </body>
  {% include 'includes/_footer.html' %}
</html>
