{% extends 'layout.html' %} {% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li><a href="">Lote</a></li>
        <li><a href="">Módulos</a></li>
        <li><a href="">Vegetais</a></li>
        <li><a href="">Substrato</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Dashboard</h1>
    </div>
  </div>
</div>
{% endblock %}
