{% extends 'layout.html' %} {% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 col-md-1 sidebar">
      <ul class="nav nav-sidebar">
        <li><a href="">Lote</a></li>
        <li><a href="">Módulo</a></li>
        <li><a href="">Vegetal</a></li>
        <li><a href="">Substrato</a></li>
      </ul>
    </div>
    <div class="col-sm-8 col-sm-offset-2 col-md-9 col-md-offset-1 main">
      <h2 class="page-header">Vegetal</h2>
    </div>
  </div>
</div>
{% endblock %}
