{% extends 'layout.html' %}
{% block body %}
<div class="container" id="modulegrid">
  <div class="row">
    <div class="col-sm-12">
      {% if single is none %}
      <h2 id="index">Farm</h2>
      <button class="btn btn-sm btn-danger btn-header btn-refresh-all"><i class="fa fa-refresh"></i></button>
      <button class="btn btn-sm btn-danger btn-header btn-water-all"><i class="wi wi-sprinkle"></i></button>
      {% else %}
      <h2 id="index">Oasis</h2>
      <a href="/module" class="btn btn-sm btn-warning btn-header"><i class="fa fa-list-ul"></i></a>
      {% endif %}
      <ul class="clearfix" id="sortable">
        {% for module in modules %}
          {%  set id = module.NODE_ID %}
          {%  set ip = module.DATA['NODE_IP'] %}
          {%  set firmware_version = module.DATA['FIRMWARE_VERSION'] %}
          {%  set last_update = module.TIMESTAMP %}
          {%  set sensor_collect_data_period = module.DATA['DATA']['NODE']['SENSOR_COLLECT_DATA_PERIOD'] %}
          {%  set water = module.DATA['DATA']['WATER'] if 'WATER' in module.DATA['DATA'] else 'DISABLED' %}

          {%  if 'DHT' in module.DATA['DATA'] %}
          {%    if 'TEMPERATURE' in module.DATA['DATA']['DHT'] %}
          {%      set temperature = module.DATA['DATA']['DHT']['TEMPERATURE'] %}
          {%    else %}
          {%      set temperature = 'Error ' %}
          {%    endif %}
          {%    if 'HUMIDITY' in module.DATA['DATA']['DHT'] %}
          {%       set humidity = module.DATA['DATA']['DHT']['HUMIDITY']%}
          {%    else %}
          {%      set humidity = 'Error ' %}
          {%    endif %}
          {% else %}
          {%    set temperature = 'N/A ' %}
          {%    set humidity = 'N/A ' %}
          {% endif %}
          {% if 'CAPACITIVEMOISTURE' in module.DATA['DATA'] %}
            {%  set hasMoisture = True %}
            {%  set moisture = module.DATA['DATA']['CAPACITIVEMOISTURE'] %}
            {%  set mux0 = moisture['MUX0'] %}
            {%  set mux1 = moisture['MUX1'] %}
            {%  set mux2 = moisture['MUX2'] %}
            {%  set mux3 = moisture['MUX3'] %}
            {%  set mux4 = moisture['MUX4'] %}
            {%  set mux5 = moisture['MUX5'] %}
            {%  set mux6 = moisture['MUX6'] %}
            {%  set mux7 = moisture['MUX7'] %}
          {% else %}
          {%  set hasMoisture = False %}
          {%  set mux0 = 0 %}
          {%  set mux1 = 0 %}
          {%  set mux2 = 0 %}
          {%  set mux3 = 0 %}
          {%  set mux4 = 0 %}
          {%  set mux5 = 0 %}
          {%  set mux6 = 0 %}
          {%  set mux7 = 0 %}
          {% endif %}
          <li id={{id}}>
            <div id='box_{{id}}' class="box {{ status_node(last_update, sensor_collect_data_period, water) }}">
              <table id="box-header-telemetry">
                <tr>
                    <td id="box-header-telemetry-init"></td>
                    <td id="box-header-telemetry-title">
                        <h4 class="text-uppercase"
                          data-toggle="tooltip" data-placement="top" title="{{description(id)}}">
                        {{translate_name(id)}}</h4>
                    </td>
                    <td id="box-header-telemetry-hb">
                      <div id="heartbeat_{{id}}" class="heart-beat-pulsate"></div>
                    </td>
                </tr>
              </table>
               <p><span id='time_{{id}}'>{{ format_last_update(last_update) }} </span></p>

               <table id="moisture">
               <tr>
                 <td>
                   <span class="fa-stack" data-toggle="tooltip" data-placement="top" title="{{mux_code(id, 'MUX0')}}">
                     <span id='mux_field_0_{{id}}' class="fa fa-2x fa-circle" style="color: {{ status_moisture(id, 0, mux0) }}"></span>
                     <span id='mux_value_0_{{id}}' class="fa-stack-1x moisture-number">{{mux0}}</span>
                   </span>
                 </td>
                 <td>
                   <span class="fa-stack" data-toggle="tooltip" data-placement="top" title="{{mux_code(id, 'MUX1')}}">
                     <span id='mux_field_1_{{id}}' class="fa fa-2x fa-circle" style="color: {{ status_moisture(id, 1, mux1) }}"></span>
                     <span id='mux_value_1_{{id}}' class="fa-stack-1x moisture-number">{{mux1}}</span>
                   </span>
                 </td>
                 <td>
                   <span class="fa-stack" data-toggle="tooltip" data-placement="top" title="{{mux_code(id, 'MUX2')}}">
                     <span id='mux_field_2_{{id}}' class="fa fa-2x fa-circle" style="color: {{ status_moisture(id, 2, mux2) }}"></span>
                     <span id='mux_value_2_{{id}}' class="fa-stack-1x moisture-number">{{mux2}}</span>
                   </span>
                 </td>
                 <td>
                   <span class="fa-stack" data-toggle="tooltip" data-placement="top" title="{{mux_code(id, 'MUX3')}}">
                     <span id='mux_field_3_{{id}}' class="fa fa-2x fa-circle" style="color: {{ status_moisture(id, 3, mux3) }}"></span>
                     <span id='mux_value_3_{{id}}' class="fa-stack-1x moisture-number">{{mux3}}</span>
                   </span>
                 </td>
               </tr>
               <tr>
                 <td>
                   <span class="fa-stack" data-toggle="tooltip" data-placement="top" title="{{mux_code(id, 'MUX4')}}">
                     <span id='mux_field_4_{{id}}' class="fa fa-2x fa-circle" style="color: {{ status_moisture(id, 4, mux4) }}"></span>
                     <span id='mux_value_4_{{id}}' class="fa-stack-1x moisture-number">{{mux4}}</span>
                   </span>
                 </td>
                 <td>
                   <span class="fa-stack" data-toggle="tooltip" data-placement="top" title="{{mux_code(id, 'MUX5')}}">
                     <span id='mux_field_5_{{id}}' class="fa fa-2x fa-circle" style="color: {{ status_moisture(id, 5, mux5) }}"></span>
                     <span id='mux_value_5_{{id}}' class="fa-stack-1x moisture-number">{{mux5}}</span>
                   </span>
                 </td>
                 <td>
                   <span class="fa-stack" data-toggle="tooltip" data-placement="top" title="{{mux_code(id, 'MUX6')}}">
                     <span id='mux_field_6_{{id}}' class="fa fa-2x fa-circle" style="color: {{ status_moisture(id, 6, mux6) }}"></span>
                     <span id='mux_value_6_{{id}}' class="fa-stack-1x moisture-number">{{mux6}}</span>
                   </span>
                 </td>
                 <td>
                   <span class="fa-stack" data-toggle="tooltip" data-placement="top" title="{{mux_code(id, 'MUX7')}}">
                     <span id='mux_field_7_{{id}}' class="fa fa-2x fa-circle" style="color: {{ status_moisture(id, 7, mux7) }}"></span>
                     <span id='mux_value_7_{{id}}' class="fa-stack-1x moisture-number">{{mux7}}</span>
                   </span>
                 </td>
              </tr>
               </table>
              <table id="telemetry">
                <tr>
                  <td class="param-label">Address</td>
                  <td class="param-value" id='ip_{{id}}'>{{ip}}</td>
                </tr>
                <tr>
                  <td class="param-label">Firmware</td>
                  <td class="param-value" id='sw_ver_{{id}}'>{{firmware_version}}</td>
                </tr>
                <tr>
                  <td class="param-label">Temp.</td>
                  <td class="param-value" id='temperature_{{id}}'>{{temperature}}°C</td>
                </tr>
                <tr>
                  <td class="param-label">Humidity</td>
                  <td class="param-value" id='humidity_{{id}}'>{{humidity}}%</td>
                </tr>
              </table>
              <table id="cockpit">
              <tr>
                <td><button id="btn-water_{{id}}" type="button" class="btn btn-md btn-block {{ status_btn_css(water) }} btn-water" data-id="{{id}}" {{ status_btn(water) }}><i class="wi wi-sprinkle"></i></button></td>
                <td><button type="button" class="btn btn-md btn-block btn-primary btn-refresh" data-id="{{id}}"><i class="fa fa-refresh" aria-hidden="true"></i></button></td>
                <td><button type="button" class="btn btn-md btn-block btn-primary" data-toggle="modal" data-target="#updateNodeModal" data-id="{{id}}"><i class="fa fa-cog" aria-hidden="true"></i></button></td>
              </tr>
              </table>
            </div>
          </li>
          <input type="hidden" id='irrigation_{{id}}' value="{{water}}">
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
<!-- modals -->
{% include 'modal-updatenode.html' %}
